.work-container{
  .title{
    color: #c25034;
    text-align: center;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
    margin: 50px 0 20px 0;
  }
  ul.workList{
    text-align: center;
    padding: 0;
    .spacer{
      font-family: 'Playfair Display', serif;
      font-size: 24px;
      margin: 0 15px;
      line-height: 2px;
    }
    li{
      color: #c25034;      
      font-weight: 900;      
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
    }
  }
  .work-grid{
    max-width: 900px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    &:hover{
      cursor: pointer;
    }
    a{
      display: block;
    }
    .half{
      flex-basis: 50%;
    }
    .quarter{
      flex-basis: 25%;
    }
    .full{
      flex-basis: 100%;
    }
    .ducreux{
      background-image: url('../../assets/img/ducreux.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .project-viewer{
    z-index: 99999999;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: max-height 800ms cubic-bezier(0.19, 1, 0.22, 1);
    .closebtn{
      position: absolute;
      right: 0;
      margin: 15px;
      font-size: 45px;
      line-height: 25px;
      color: #c25034;
      &:hover{
        cursor: pointer;
      }
    }
    .first{
      color: #fff9ef;
      position: relative;
      display: flex;
      padding: 10px;      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #c25034;
      flex-basis: 50%;

      &:before{
        content: "";
        width: 0;
        height: 0;
        top: 0;
        border-top: 40px solid #c25034;
        border-right: 100px solid transparent;
        position: absolute;
        right: -100px;
      }
      .project-arrows{
        font-size: 45px;
        width: 100%;
        justify-content: space-around;
        display: flex;
        margin-top: 25px;
        
        span{
          &:hover, &:focus, &:active{
            cursor: pointer;
          }
        }
      }

      .type{
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin: 0;
        // font-family: 'Montserrat', sans-serif;
      }
      .name{
        text-align: center;
        font-size: 45px;
        margin: 15px 0 20px 0;        
      }
      .subtitle{
        margin: 0;        
        text-transform: uppercase;        
      }
    }
    .last{
      padding: 10px 30px;
      background-color: #fff;      
      flex-basis: 50%;
      max-width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p{
      font-family: 'Playfair Display', serif;
        font-size: 14px;
        text-align: center;
      }
      .links{
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
      a{
        margin-left: 15px;
        color: #c25034;
        font-weight: 900;
        text-decoration: none;
        margin-bottom: 15px;
      }
    }
  }

}